/* Global config */
@import "config/variables"; // Your custom variables
@import "config/colors"; // Your custom color scheme
@import "config/settings"; // Default settings file. Uncomment each setting you need to change

/* Foundation 5 */
@import "foundation"; // Foundation 5 by Zurb

/* Site structure */
@import "site/structure"; // Your site structure



.home {
	text-align: center;
}

h1 {
	color: #e9e9e9;
  font-family: "quatro-slab";
  font-size: 5vw;
  font-weight: 900;
  letter-spacing: 3px;
  text-transform: uppercase;
 }

.slanted {
	font-family: "reklame-script";
	font-size: 24px; 
	font-style: italic; 
  letter-spacing: 2px;
  transform: rotate(-10deg);
  margin-bottom: 25px;
}

/* Decision Tree Form Styling */
.decision_tree_area {
	margin-top: 80px;
  text-align: center;
}

.dt_display_question {
  font-size: 32px;
  margin-bottom: 40px;
}

.dt_display_subtext {
  font-size: 16px;
  color: #777;
}

#dt_choice_set_6 {
  margin-top: 25px;
}

.tree-answer {
  font-size: 32px;
  padding: 15px;
  margin: 15px auto;
  max-width: 500px;
}


.answer-restart {
  margin-top: 100px;
}

/* Footer */
// footer {
//   width:100%;
//   height: 100px;
//   position:absolute;
//   bottom:0;
//   left:0;
// }

// footer .container {
//  padding-top: 30px;
//  border-top: 1px solid teal;
// }

// .wrap {
//   padding:10px;
//   padding-bottom: 100px;
// }